@media only screen and (max-device-width: 1024px) {
	body {
		-webkit-text-size-adjust: 100%;
	}
}

* {
	padding: 0;
	margin: 0;
	
	margin-before: 0;
	margin-after: 0;

	max-width: 100%;
}

html {
	height: 100%;

	background: #f5f5f5;
}

body {
	height: 100%;
	
	background: #f5f5f5;

	min-width: 980px; /* 920px + 60px */

	-webkit-text-size-adjust: 125%;

	-webkit-transform: translateZ(0);
}

img {
	border: 0;
}

#wrapper {
	height: 100%;
}

#sidebar {
	top: 0;
	left: 0;

	width: 70px;
	height: 100%;

	position: fixed;

	z-index: 100;
	
	background: #333;
}

#sidebar *,
#excerpts * {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	cursor: default !important;
}

#sidebar ul {
	display: inline;
	font-family: "Helvetica", sans-serif;
}

#sidebar li {
	margin: 4px 12px;

	height: 46px;
	width: 46px;

	list-style-type: none;

	display: inline-block;
}

#sidebar li:first-child {
	margin-top: 18px;
	margin-bottom: 29px;
}

#sidebar li .icon {
	margin: 3px;
}

@-webkit-keyframes SPRING {
    to   { -webkit-transform: scale(.9) }
    from { -webkit-transform: scale(1.0) }
}

#sidebar li.selected {
	background: rgb(254, 187, 0);

	-webkit-animation: SPRING .1s ease-in-out alternate;

	-webkit-box-shadow: 0px 0px 3px #000;
	-webkit-border-radius: 5px;
}

#sidebar .icon {
	height: 40px;
	width: 40px;
	
	margin-left: 15px;
	margin-right: 15px;

	background: #fff;

	-webkit-box-shadow: 0px 0px 3px #000;
	-webkit-border-radius: 3px;
}

#sidebar .selected .icon {
	-webkit-box-shadow: 0 0 0 #000;
}

#sidebar .inner-icon {
	height: 34px;
	width: 34px;

	display: inline-block;

	padding: 3px;

	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.05);
}

#sidebar .selected .inner-icon {
	padding: 2px;

	border: 1px solid #59430a;
}

#sidebar .inner-icon a {
	display: block;
	height: 100%;
	width: 100%;

	background-size: 34px;
	
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);

	-webkit-border-radius: 1px;
}

#sidebar .inner-icon .tooltip {
	margin-left: 63px;
	margin-top: 6px;

	display: none;
	position: absolute;

	padding: 3px 5px;

	color: #fff;
	font-weight: bold;
	font-size: 14px;

	background: rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 2px;

	text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#sidebar .inner-icon .tooltip.visible {
	display: inline-block;
}

#sidebar .inner-icon #avatar {
	background-image: url(../images/avatar.jpg);
}

#sidebar .inner-icon #gt {
	background-image: url(../images/gt.png);
}

#sidebar .inner-icon #contact {
	background-image: url(../images/contact.png);
}

#sidebar .inner-icon #about {
	background-image: url(../images/about.png);
}

#sidebar .ft {
	width: 100%;
	height: 40px;

	background-image: -webkit-linear-gradient(bottom, #333 8%, #555 92%);

	position: absolute;
	bottom: 0;
	left: 0;
	
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#sidebar .ft a {
	display: block;

	margin-top: 8px;
	margin-left: 23px;

	width: 24px;
	height: 24px;

	text-indent: 500px;
	overflow: hidden;

	background: url('../images/rss-sheet.png') no-repeat 0px 0px;
}

#sidebar .ft a:hover {
	background: url('../images/rss-sheet.png') no-repeat -24px 0px;
}

#sidebar .ft a:active {
	background: url('../images/rss-sheet.png') no-repeat -48px 0px;
}

#excerpts {
	position: fixed;

	margin-left: -231px;

	width: 300px;
	height: 100%;

	border-right: solid 1px #ccc;

	background: #f7f6f1;

	font-family: Helvetica, sans-serif;

	overflow: scroll;

	-webkit-transform: translateZ(0);
	-webkit-transition: margin-left 0.3s ease-in-out;
}

#excerpts.expanded {
	margin-left: 70px !important;
}

#excerpts .date {
	height: 20px;
	width: 270px;

	position: absolute;
	top: 0;

	margin-top: -1px; /* remove preceding bottom border */
	padding: 0 15px;

	color: #828077;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	
	border-top: solid 1px #cac9c6;
	border-bottom: solid 1px #cac9c6;

	background-image: -webkit-linear-gradient(bottom, #EBEAE6 8%, #F9F8F5 50%);
}

#excerpts .section {
	position: relative;

	padding-top: 20px;
}

#excerpts .post-excerpt {
	height: auto;

	padding: 15px;

	border-bottom: solid 1px #e5e3de;

	color: #888;
}

#excerpts .selected {
	background: #e7e6e1;

	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

#excerpts .post-excerpt .excerpt {
	font-size: 12px;
	line-height: 130%;
}

#excerpts .post-excerpt .header {
	position: relative;
}

#excerpts .post-excerpt .header .title {
	width: 200px;

	display: block;

	font-size: 16px;
	font-weight: bold;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	color: #666;
}

#excerpts a {
	text-decoration: none;

	color: #666;
}

#excerpts .post-excerpt .header .time {
	position: absolute;

	right: 0;
	top: 0;

	font-size: 12px;
}

#content {
	position: relative;

	height: 100%;
	overflow: scroll;

	margin-left: 70px;
		
	background: #f5f5f5;
	
	font-family: "Helvetica", sans-serif;

	-webkit-transition: margin-left 0.3s ease-in-out;
}

#content.contracted {
	margin-left: 371px !important;
}

.post {
	position: relative;

	width: 550px;
	margin: 0 auto;	

	padding: 40px 0 20px 0;
}

.post .header {
	position: relative;
	
	padding: 0 0 15px 0;
	
	border-bottom: solid #dcdcdc 1px;
}

.post .header .title {
	font-size: 34px;
	line-height: 100%;
	
	margin: 0;
	padding: 0;

	color: #4c4b45;
	text-decoration: none;
	font-weight: bolder;
}

.header p.date {
	padding: 10px 0 0 0;

	color: #666;
	font-size: 12px;
	line-height: 12px;
}

.post .body {
	padding: 15px 0 0 0;

	font-size: 13px;
	line-height: 100%;
}

.post .body a {
	text-decoration: underline;
	
	color: #666;
}

.post p, .post li {
	padding: 0 0 10px 0;

	line-height: 28px;
	font-size: 16px;

	color: #403F38;
}

.post ul, .post ol {
	padding: 0 0 7.5px 0;
	margin: 0 0 0 15px;
}

.post blockquote {
	margin: 10px 0 10px 15px;
	padding-left: 15px;
	
	font-size: 13px;
	
	border-left: 3px solid #ccc;
}

.post img {
	display: block;
	
	box-sizing: border-box;
	max-width: 100%;

	padding: 5px;
	margin: 10px auto;
	
	background: #eee;
	border: 1px solid #CCC;
}

.post img.left {
	float: left;
	
	margin: 0 10px 10px 0;
}

.post img.right {
	float: right;
	
	margin: 0 0 10px 10px;
}

#bottom {
	padding: 20px;
	
	text-align: center;
	
	font-size: 13px;

	color: #858585;
}

#bottom a {
	text-decoration: underline;
	
	color: #666;
}