---
---

* {
	max-width: 100%;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAABCAYAAAD3ubPnAAAABGdBTUEAALGPC/xhBQAAABhJREFUKBVjNJlx+z/DKBgNgdEQGNYhAABbjQKoHukimQAAAABJRU5ErkJggg==') top left repeat-y;
}

img {
	border: 0;
}

#wrapper {
	display: flex;

	min-height: 100%;

	font-family: 'Helvetica Neue', sans-serif;

	line-height: 20px;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

#hidden {
	display: none;
}

@import 'header';

@import 'article';

@import 'archive';

@import 'footer';

@import 'media_queries';
