* {
	padding: 0;
	margin: 0;
	
	margin-before: 0;
	margin-after: 0;

	max-width: 100%;
}

html, body {
	background: #eceef1;
}

img {
	border: 0;
}

a {
	text-decoration: none;

	color: #fff;
}

#wrapper {
	width: 100%;
	min-height: 100%;

	position: relative;
}

#header {
	position: relative;
	
	width: 100%;
	padding: 40px 20px;
	box-sizing: border-box;
	
	text-align: center;

	font-family: 'Cabin', sans-serif;
	font-size: 0;
	
	background: #2c72d9;
	color: #fff;

	-webkit-transition: padding 0.2s ease-in;
}

#header h1 {
	font-size: 42px;
	line-height: 42px;
	padding-bottom: 10px;
}

#words:after {
	display: table;
	content: '';
	clear: both;
}

#content {
	display: inline-block;

	margin: 0 auto;
}

#me {
	float: left;

	background-image: url('http://www.gravatar.com/avatar/54da22b08b09b35cae64a1e434dcba56.png?s=80');

	width: 80px;
	height: 80px;

	box-shadow: -5px -5px 0 rgba(0, 0, 0, 0.2);

	-webkit-transition: margin 0.2 linear;
}

#words {
	display: inline-block;
	float: left;
	text-align: left;

	position: relative;

	margin-left: 20px;

	width: 320px;

	-webkit-transition: margin 0.2 linear;
}

nav {
	vertical-align: baseline;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	font-size: 18px;
	font-weight: bold;
	
	cursor: default !important;
}

nav li {
	display: inline-block;
	margin: 0 2px 0 0;

	list-style-type: none;
}

nav li:last-child {
	margin: 0;
}

nav li a {
	padding: 5px;

	color: #fff;
}

header {
	position: relative;

	padding-bottom: 1.5em;
	margin-bottom: 1.2em;

	font-family: 'Cabin';
	
	border-bottom: solid #dcdcdc 1px;
}

header h1, article header a {
	font-size: 32px;
	line-height: 1.2em;
	
	margin: 0;
	padding: 0;

	color: #4c4b45;
	text-decoration: none;
	font-weight: bolder;
}

article header h1 {
	padding: 0;
}

article header a:hover {
	border-bottom: 1px solid #4c4b45;
}

header time {
	display: block;
	
	padding-top: 10px;
	margin: 0;

	color: #949494;
	font-size: 16px;
	line-height: 14px;
}

article {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2em;
	
	width: 640px;
	box-sizing: border-box;

	background: #FFF;
	
	margin: 50px auto 0 auto;
	padding: 35px 0;

	-webkit-transition: margin 0.2s ease-in;
}

article a {
	color: #316bc0;
}

article a:hover {
	border-bottom: 1px solid #316bc0;
}

article h1, article h2 {
	color: #4c4b45;

	padding: 0 0 10px 0;
}

article p, article li {
	padding: 0 0 1.5em 0;

	color: #403F38;
}

article p:last-child {
	padding: 0;
}

article ul, article ol {
	padding: 0 0 7.5px 0;
	margin: 0 0 0 20px;
}

article object, article iframe {
	display: block;
	margin: auto;
}

article table {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;

	border-collapse: collapse;
}

article th {
	background: #3a3a3a;
	color: #fff;

	padding: 5px;

	border: 1px solid #000;
}

article td {
	padding: 5px;

	border: 1px solid #000;
}

article img {
	display: block;
	
	box-sizing: border-box;
	max-width: 100%;

	padding: 5px;
	margin: 10px auto;

	margin-bottom: 20px;
	
	background: #eee;
	border: 1px solid #CCC;
}

article img.left {
	float: left;
	
	margin: 0 10px 10px 0;
}

article img.right {
	float: right;
	
	margin: 0 0 10px 10px;
}

#main > * {
	margin-left: 35px;
	margin-right: 35px;
}

#main ul, #main ol {
	margin: 0 0 0 55px;
}

#main blockquote {
	margin: 10px 35px 10px 50px;

	padding: 10px 15px;
	
	background: #ebf2fb;

	border-left: 5px solid #2c72d9;
}

#main blockquote + p {
	padding-top: 1em;
}

#main img.fill {
	padding: 0;

	margin-left: 0;
	margin-right: 0;

	border: none;
}

#social {
	list-style-type: none;

	line-height: 0;

	padding: 0 0 1.5em 0;
	margin: 0 35px;

	width: auto;
	text-align: left;
}

#social li {
	display: inline-block;

	line-height: 0px;

	padding: 0;
}

#social a {
	width: 32px;
	height: 32px;

	display: inherit;

	border: 0;
}

#social-twitter {
	background-image: url(../images/icons/twitter.png);
}

#social-facebook {
	background-image: url(../images/icons/facebook.png);
}

#social-googleplus {
	background-image: url(../images/icons/google-plus.png);
}

#social-lastfm {
	background-image: url(../images/icons/lastfm.png);
}

#social-flickr {
	background-image: url(../images/icons/flickr.png);
}

#social-github {
	background-image: url(../images/icons/github.png);
}

#social-linkedin {
	background-image: url(../images/icons/linkedin.png);
}

#social-youtube {
	background-image: url(../images/icons/youtube.png);
}

#archives .year {
	position: relative;
}

#archives .year > h1 {
	position: absolute;
	top: 0;
	left: 0;

	font-weight: bold;

	padding: 15px 0;

	z-index: 100;
}

#archives article {
	position: relative;

	padding: 15px;
	margin: 0 0 0 80px;

	width: -webkit-calc(100% - 80px);

	border-bottom: 1px solid #e5e5e5;
}

#archives article:last-child {
	padding-bottom: 0;

	border-bottom: none;
}

#archives article h1 {
	padding: 0;

	float: none;
}

#archives article h1 a {
	font-size: 21px;
}

#archives a {
	text-decoration: none
}

#archives article time {
	line-height: 25px;

	color: #868686;
}

#footer {
	width: 100%;

	padding: 40px 0;

	text-align: center;
	font: bold 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	color: #A6AEBB;

	text-shadow: 1px 1px 0 #FFF;
}

#footer a {
	color: #A6AEBB;
}

#footer a:hover {
	border-bottom: 1px solid #C3C9D2;
}

@media only screen and (max-width: 640px) {
	article#main {
		margin: 0;
	}
}

@media only screen and (max-width: 500px) {
	#header {
		padding: 20px 5px;
	}

	#me {
		float: none;

		margin: 0 auto;
	}

	#words {
		text-align: center;

		margin: 10px 0 0 0;
	}

	#main {
		padding: 20px 0;
	}

	#main > * {
		margin-left: 10px;
		margin-right: 10px;
	}

	#main header {
		padding-bottom: 1em;
		margin-bottom: 0.3em;
	}
}