* {
	padding: 0;
	margin: 0;
	
	margin-before: 0;
	margin-after: 0;

	max-width: 100%;
}

html {
	height: 100%;
	width: 100%;

	background: #eceef1;
}

body {
	height: 100%;
	width: 100%;
	
	background: #eceef1;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
}

img {
	border: 0;
}

a {
	text-decoration: none;

	color: #fff;
}

#wrapper {
	width: 100%;
	min-height: 100%;

	position: relative;
}

#header {
	position: relative;
	
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	
	text-align: center;

	font-family: 'Cabin', sans-serif;
	font-size: 0;
	
	background: #2c72d9;
	color: #fff;
}

#header #content {
	display: inline-block;

	height: 80px;

	margin: 0 auto;
}

#header #me {
	float: left;

	background-image: url('http://www.gravatar.com/avatar/54da22b08b09b35cae64a1e434dcba56.png?s=80');

	width: 80px;
	height: 80px;

	box-shadow: -5px -5px 0 rgba(0, 0, 0, 0.2);
}

#header #words {
	display: inline-block;
	text-align: left;

	position: relative;

	margin-left: 20px;
	height: 80px;

	width: 320px;
}

#header h1 {
	font-size: 42px;
	line-height: 42px;
	padding-bottom: 5px;
}

nav {
	vertical-align: baseline;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	font-size: 18px;
	font-weight: bold;
	
	cursor: default !important;
}

nav li {
	display: inline-block;
	padding: 0 5px 0 0;

	list-style-type: none;
}

nav li a {
	padding: 5px;

	color: #fff;
}

header {
	position: relative;

	padding-bottom: 1.5em;
	margin-bottom: 1.2em;

	font-family: 'Cabin';
	
	border-bottom: solid #dcdcdc 1px;
}

header h1, article header a {
	font-size: 32px;
	line-height: 1.2em;
	
	margin: 0;
	padding: 0;

	color: #4c4b45;
	text-decoration: none;
	font-weight: bolder;
}

article header h1 {
	padding: 0;
}

article header a:hover {
	border-bottom: 1px solid #4c4b45;
}

header time {
	display: block;
	
	padding-top: 10px;
	margin: 0;

	color: #949494;
	font-size: 16px;
	line-height: 14px;
}

article {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.75em;
	
	width: 960px;
	box-sizing: border-box;

	background: #FFF;
	
	margin: 50px auto 0 auto;
	padding: 35px 0;
}

article#main > * {
	margin-left: 35px;
	margin-right: 35px;
}

article a {
	color: #316bc0;
}

article a:hover {
	border-bottom: 1px solid #316bc0;
}

article h1, article h2 {
	color: #4c4b45;

	padding: 0 0 10px 0;
}

article p, article li {
	padding: 0 0 1em 0;

	color: #403F38;
}

article p:last-child {
	padding: 0;
}

article ul, article ol {
	padding: 0 0 7.5px 0;
	margin: 0 0 0 20px;
}

article#main ul, article#main ol {
	margin: 0 0 0 55px;
}

article#main blockquote {
	margin: 10px 35px 10px 50px;

	padding: 10px 15px;
	
	background: #ebf2fb;

	border-left: 5px solid #2c72d9;
}

3LPxnzm6UL

article#main blockquote + p {
	padding-top: 1em;
}

article object, article iframe {
	display: block;
	margin: auto;
}

article table {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;

	border-collapse: collapse;
}

article th {
	background: #3a3a3a;
	color: #fff;

	padding: 5px;

	border: 1px solid #000;
}

article td {
	padding: 5px;

	border: 1px solid #000;
}

article img {
	display: block;
	
	box-sizing: border-box;
	max-width: 100%;

	padding: 5px;
	margin: 10px auto;

	margin-bottom: 20px;
	
	background: #eee;
	border: 1px solid #CCC;
}

article#main img.fill {
	padding: 0;

	margin-left: 0;
	margin-right: 0;

	border: none;
}

article img.left {
	float: left;
	
	margin: 0 10px 10px 0;
}

article img.right {
	float: right;
	
	margin: 0 0 10px 10px;
}

article ul#social {
	list-style-type: none;

	padding: 0;
	margin: 0 35px;

	width: auto;
	text-align: left;
}

article ul#social li {
	display: inline-block;

	line-height: 0px;

	padding: 5px 5px 15px 5px;
}

article ul#social a {
	width: 32px;
	height: 32px;

	display: inherit;

	border: 0;
}

article ul#social #twitter {
	background-image: url(../images/icons/twitter.png);
}

article ul#social #facebook {
	background-image: url(../images/icons/facebook.png);
}

article ul#social #googleplus {
	background-image: url(../images/icons/google-plus.png);
}

article ul#social #lastfm {
	background-image: url(../images/icons/lastfm.png);
}

article ul#social #flickr {
	background-image: url(../images/icons/flickr.png);
}

article ul#social #github {
	background-image: url(../images/icons/github.png);
}

article ul#social #linkedin {
	background-image: url(../images/icons/linkedin.png);
}

article ul#social #youtube {
	background-image: url(../images/icons/youtube.png);
}

#archives .year {
	position: relative;
}

#archives .year > h1 {
	position: absolute;
	top: 0;
	left: 0;

	font-weight: bold;

	padding: 15px 0;

	z-index: 100;
}

#archives article {
	position: relative;

	padding: 15px;
	margin: 0 0 0 80px;

	width: -webkit-calc(100% - 80px);

	border-bottom: 1px solid #e5e5e5;
}

#archives article:last-child {
	padding-bottom: 0;

	border-bottom: none;
}

#archives article h1 {
	padding: 0;

	float: none;
}

#archives article h1 a {
	font-size: 21px;
}

#archives a {
	text-decoration: none
}

#archives article time {
	line-height: 25px;

	color: #868686;
}

#footer {
	width: 100%;

	padding: 40px 0;

	text-align: center;
	font: bold 14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	color: #A6AEBB;

	text-shadow: 1px 1px 0 #FFF;
}

#footer a {
	color: #A6AEBB;
}

#footer a:hover {
	border-bottom: 1px solid #C3C9D2;
}

@media only screen and (min-width: 720px) and (max-width: 1050px) {
	article {
		width: 100%;
		padding: 20px;
	}
}

@media only screen and (max-width: 720px) {
	#header h1 {
		padding-left: 0;
	}

	#header {
		position: relative;

		height: 115px;
	}

	article {
		width: 100%;
		padding: 20px;
	}

	nav {
		margin: 0;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait)	 {
	body {
		-webkit-text-size-adjust: 200%;
		text-size-adjust: 200%;
	}

	#header h1 {
		padding-left: 0;
	}

	nav {
		padding: 30px 0 10px 0;
		margin: 0;

		-webkit-text-size-adjust: none;
		font-size: 35px;
	}

	article {
		width: 100%;
		padding: 20px;

		-webkit-text-size-adjust: 225%;
		text-size-adjust: 225%;
		line-height: 175%;
	}

	article ul, article ol {
		margin: 0 0 0 60px;
	}

	header time {
		padding: 35px 0;
	}

	#archives article {
		padding-left: 150px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) {
	#header h1 a {
		font-size: 70px;
	}

	nav {
		margin: 0;
		padding: 20px 0 10px 0;

		font-size: 30px;
	}

	header h1 {
		padding-left: 0;
	}

	article {
		width: 100%;
		padding: 20px;
	}

	article header {
		margin-bottom: 30px;
	}

	article header h1 {
		padding-top: 0;
	}

	article header h1 a {
		font-size: 40px;
	}

	article header time {
		font-size: 20px;

		padding: 10px 0;
	}

	#archives h1 {
		font-size: 30px;
	}

	#archives article {
		padding-left: 125px;
	}
}