---
layout: static
title: Archives
---

<div id="archives">
	{% for post in site.posts %}
		{% unless post.next %}
		<div class="year">
			<h2>{{ post.date | date:"%Y" }}</h2>
		{% else %}
		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		{% if year != nyear %}
		</div>
		<div class="year">
			<h2>{{ post.date | date:"%Y" }}</h2>
		{% endif %}
		{% endunless %}
		<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate:65 }}</a></h3>
	{% endfor %}
	</div>
</div>
