---
layout: default
title: Tanner's Blog
---

{% for post in paginator.posts %}
	<div class="post">
		<div class="header">
			<a href="{{ post.url }}" class="title">{{ post.title }}</a>
			<p class="date">{{ post.date | date_to_string }}</p>
		</div>
		{{ post.content }}
		<div class="footer">
			<a href="#" class="comment">0 comment(s)</a>
			<p class="meta">Posted in {{ post.categories | array_to_sentence_string }} | Tagged {{ post.tags | array_to_sentence_string }}</p>
		</div>
	</div>
{% endfor %}

<div id="bottom">
	{% if paginator.prev_page %}
		<p id="prev"><a href="/page{{ paginator.prev_page }}">Previous</a></p>
	{% endif %}
	<p id="footer">Copyright &copy; Tanner Smith 2011. Powered by <a href="http://www.wordpress.org">Wordpress</a>.</p>
	{% if paginator.next_page %}
		<p id="next"><a href="/page{{ paginator.next_page }}">Next</a></p>
	{% endif %}
</div>