<div id="comment" class="content no-collapse">
  <header>
    <h2>Let me know what you think.</h2>
  </header>
  {% capture post_title_length %}{{ post.title | size }}{% endcapture %}
  {% if post_title_length != "0" %}
    {% capture post_title %}{{ post.title }}{% endcapture %}
  {% else %}
    {% capture post_title %}{{ page.title }}{% endcapture %}
  {% endif %}

  <a href="https://twitter.com/intent/tweet?screen_name=tannerld" class="twitter-mention-button" data-lang="en" data-size="large" data-text='I just read "{{ post_title }}" and I think &hellip;'>Tweet to @tannerld</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
