<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="Tanner Smith">

	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/bigfoot.min.js"></script>
	<script type="text/javascript">
	    $.bigfoot();
	</script>

	<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bigfoot.css">

  <link rel="author" href="{{ site.baseurl }}/humans.txt">

	<link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">

	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/images/apple-touch-icon-ipad.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/images/apple-touch-icon-ipad-retina.png">
</head>
