.content {
  width: 600px;

  .article {
    &:not(:last-of-type) {
      padding-bottom: 60px;
    }

    a {
      color: #3498DB;
    }

    p {
      line-height: 1.4em;

      margin: 0;
      padding-bottom: 10px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    h1, h2, h3, h4 {
      color: #34495E;
    }

    ul, ol {
      margin: 0;
      padding: 0 0 10px 0;
    }

    li {
      margin-left: 30px;

      margin-bottom: 0.2em;
    }

    blockquote {
      padding: 10px 0 10px 10px;

      margin: 0 0 10px 0;

      border-left: solid 5px #ECF0F1;

      font-style: italic;
    }

    .header {
      padding-bottom: 10px;

      h1 {
        display: inline-block;

        padding-right: 10px;

        line-height: 1em;

        margin: 0 0 10px 0;

        a {
          color: #34495E;
        }
      }

      time {
        display: inline-block;

        margin: 0 0 10px 0;

        font-weight: bold;

        color: #F5B71F;
      }
    }

    iframe {
      margin-bottom: 10px !important;
    }
  }
}
