.info-header {
  $background-color: #3498DB;

  $font-color: #FFF;

  flex-basis: 250px;

  flex-grow: 0;
  flex-shrink: 0;

  padding: 30px;

  box-sizing: border-box;

  background-color: $background-color;

  color: $font-color;

  section {
    &:not(:last-child) {
      padding-bottom: 30px;
    }

    a {
      color: $font-color;

      font-weight: bold;

      &:visited {
        color: $font-color;
      }
    }

    h1, h2, h3, h4 {
      margin: 0;

      padding-bottom: 10px;
    }

    p {
      margin: 0;

      padding-bottom: 10px;
    }
  }
}

.info-header-background {
  background-color: #3498DB;

  position: fixed;

  top: 0;
  left: 0;

  bottom: -88px;

  width: 250px;

  z-index: -1;
}

.content {
  padding: 30px;
}
