@media screen and (max-width: 500px) {
  #wrapper {
    flex-direction: column;
  }

  .info-header {
    flex-basis: auto;
  }

  .info-header-background {
    display: none;
  }

  .content {
    width: auto;
  }
}
