@media screen and (max-width: 500px) {
  html {
    background: none;
  }

  #wrapper {
    flex-direction: column;
  }

  .info-header {
    flex-basis: auto;

    background-color: #3498DB;
  }

  .content {
    width: auto;
  }
}
