<!doctype html>
<html>

{% include head.html %}

<body>

<div id="wrapper">
	<header class="info-header">
		<section>
			<h2><a href="{{ site.baseurl }}/">Hi! I'm Tanner.</a></h2>
		</section>
		<section>
			<p>I'm a software engineer at <a href="http://www.apple.com/">Apple</a>. I write here occassionally.</p>
			<p>Learn <a href="/about">more about me</a>.</p>
		</section>
		<section>
			<h3><a href="{{ site.baseurl }}/archive">Archive</a></h3>
			<p>Take a <a href="{{ site.baseurl }}/archive">look</a> at some posts from yesterday or last year.</p>
		</section>
		<section>
			<h3>Other Things</h3>
			<p>Check out <a href="{{ site.baseurl }}/books">books</a> I've read recently.</p>
			<a href="https://twitter.com/tannerld" id="twitter"><img src="{{ site.baseurl }}/images/twitter.svg"/></a>
		</section>
	</header>

	<div class="content">
		{{ content }}
	</div>
</div>

</body>
</html>
