<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tanner's Blog</title>
	<meta name="description" content="">
	<meta name="author" content="Tanner Smith">

	<meta name="viewport" content="width=1050">

	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="wrapper">
	<div id="sidebar">
		<ul>
			<li class="selected">
				<div class="icon">
					<div class="inner-icon">
						<div id="avatar"></div>
					</div>
				</div>
			</li>

			<li>
				<div class="icon">
					<div class="inner-icon">
						<div id="avatar"></div>
					</div>
				</div>
			</li>

			<li>
				<div class="icon">
					<div class="inner-icon">
						<a href="{{ site.baseurl }}/">Home</a>
					</div>
				</div>
			</li>

			<li>
				<div class="icon">
					<div class="inner-icon">
						<a href="{{ site.baseurl }}/about.html">About</a>
					</div>
				</div>
			</li>

			<li>
				<div class="icon">
					<div class="inner-icon">
						<a href="{{ site.baseurl }}">Archives</a>
					</div>
				</div>
			</li>

			<li>
				<div class="icon">
					<div class="inner-icon">
						<a href="{{ site.baseurl }}">Contact</a>
					</div>
				</div>
			</li>

			<li>
				<div class="icon">
					<div class="inner-icon">
						<a href="{{ site.baseurl }}/rss.xml"><img src="images/rss.png"></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="excerpts">
		<div class="post-excerpt">
			<div class="header">
				<span class="title">Test Post A</span>
				<span class="time">12:23 AM</span>
			</div>
			<div class="excerpt">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis sollicitudin diam non sagittis. Cras</p>
			</div>
		</div>
	</div>
	<div id="content">
		{{ content }}
	</div>
</div>

</body>
</html>