---
layout: default
---

<article id="main" class="content">
	<header>
		<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
		<time pubdate datetime="{{ page.date | date: "%Y-%m-%e" }}">{{ page.date | date: "%A, %B %e, %Y" }}</time>
	</header>
	{{ content }}
</article>

<div id="comment" class="content">
	<header>
		<h2>Let me know what you thought.</h2>
	</header>
	<a href="https://twitter.com/intent/tweet?screen_name=tannerld" class="twitter-mention-button" data-lang="en" data-size="large" data-text='Hey! I just read "{{ page.title }}" and I thought...'>Tweet to @tannerld</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
